<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>-->
<connectionStrings>
  <!--<clear/>-->
  <!--<add name="RFI" connectionString="Data Source=10.100.2.12;Initial Catalog=RFI_dev;User ID= RFIDEV; Password= D@t@b@s3" providerName="System.Data.SqlClient" />-->
  <!--<add name="RFI" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
  <!--<add name="RFI" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
  <!--<add name="GenCorrEntities" connectionString="metadata=res://*/Entities.GenCorrEntities.csdl|res://*/Entities.GenCorrEntities.ssdl|res://*/Entities.GenCorrEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OMNSQPV06D1\DEV1;initial catalog=OMEM_CST_Generic_Transforms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="FinRisc" connectionString="Data Source=OMNSQPV06D1\DEV1;Initial Catalog=OMEM_CST_Generic_Transforms;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />

  <!--<add name="DBReserve" connectionString="Data Source=10.100.2.12;Initial Catalog=DBReserve;User ID= reservetest; Password= woodstock" providerName="System.Data.SqlClient" />-->
  <!--<add name="DBTIMEARCHIVE" connectionString="server=10.100.2.26;port=5000;db=DBTIME; uid=webapp01;pwd=nowfull2!" />-->
 
  <!--<add name="ROOM" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rooms;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>-->
  
  <add name="ROOM" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rooms;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>

  <!--<add name="DBTIMEARCHIVE" connectionString="Data Source=10.100.2.26,5000;database=DBTIMEARCHIVE;uid=webapp01;password=nowfull2" providerName="SybaseAseClientDriver" />-->



</connectionStrings>






